.footer{
    width: 100%;
    height: 35rem;
    display: grid;
    grid-template-rows: 80% 20%;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
}
.F-li{
    list-style: none;
    margin-top: 20px;
    margin-left: -20px;
}
.F-a{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.0625rem;
    letter-spacing: 0.078125rem;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #273043;
   
    
}
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.015625rem;
    color: #273043;
}
.devstudio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: flex-end;
    padding: 60px;
}
.footer-social{
    display: grid;
    grid-template-rows: 1fr 1fr;
 
}
.social{
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.s-img{
    padding-right: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    
}
.cpy{
    padding-right: 10px;
    padding-top: 0;
}



