.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vw;
    top: 20vw;
    background: #ffffff;
}
.secinfo{
    padding: 50px;
}
.images{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.sectionA{
    width: 100%;
    top: 200px;
    height: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
.sec2infoA{
    
    width: 70%;
   background-color: peru;
    padding: 30px;
}
.sec3{
    background-color: #EEEEEE;
}

.LPimg1{
    width: 90vw;
    height: 30vw;
    top: 30vw;
    left: 30%; 
}
.LPimg11{
    position: relative;
    width:5vw;
    height: 30vw;
    left: 30%;
    top: 10vw; 
}
.LPimg2{
    width: 40vw;
    height: 30vw;
    padding: 20px;
    
}
.LPimg3{
    width: 20vw;
    height: 20vw;
}
.LPlink{
    color:#03CEA4 ;
    text-decoration: underline;
    text-transform: uppercase;
}
.img{
    padding:20px ;
}
.img1{
    display: grid;
    background-color: plum;
    grid-template-columns: 1fr 1fr;
   
}
h3{
    width: 654px;
    height: 157px;
    left: 150px;
    top: 270px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #17255A;
}
.psec1{

    width: 300px;
    height: 100px;
    left: 100px;
    top: 477px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.15px;
    color: #273043;
}


/*

*/