.sec-one{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 66.7rem;
}
.content1{
    
    width: 95%;
    height: 52.56rem;
    left: 3rem;
    background-color: white;
    /* display*/
    display: grid;
    grid-template-rows: repeat(1fr, 2);
}
.sec1-text{
    padding-left: 20px;
}
.sec-heading{
    width: 40.8rem;
    height: 9.8rem;
    left: 100px;
    top: 270px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.7rem;

    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #17255A;
}
.sec-para{
    width: 29.18rem;
    height: 4.625rem;
    left: 100px;
    top: 477px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.009375rem;

    color: #273043;
}
.sec1-images{
    display: grid;
    grid-template-columns: 10% 1fr;
}
.LPimg11{
    width: 1.375rem;
    height: 2.60rem;
    justify-self: center;
    align-self: center;
    color: #17255A;
}
.LPimg1{
    width: 100%;
    height: 28.75rem;
}



/*Designing group css*/
.sec{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;

}
.contents{
    width: 90%;
    height: 36.25rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
.sec-images{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.LPimg2{
    width: 70%;
    height: 70%;
}
.sec-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.sec-heads{
    width: 40.8rem;
    height: 9.8rem;
    left: 100px;
    top: 270px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.7rem;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #17255A;
}
.LPlink{
    color:#03CEA4 ;
    text-decoration: underline;
    text-transform: uppercase;
}
.sec-three{
    background-color: #c4c4c4;
}


.head{
    text-decoration: underline;
}

.sec-five{
    background: #EEEEEE;
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.sec5-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.label{
    display: grid;
    grid-template-rows: 80% 10%;
    width: 10.8rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: #17255A;
}
.label a{
    color:#17255A;
    text-transform: none;
}
.text5{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-six{
    background-color:  #17255A;
   
}
.sec6{
    color: white;
}


@media screen and (min-width: 375px){}
    