
.main-nav{
    display: grid;
    grid-template-columns: 20% 40% 30%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.logo{
    width: 185px;
    height: 45px;
    margin-left: 20px;
    padding: 20px;
}

.links{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    margin-left: -20%; 
}
.show{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    margin-left: -20%; 
}

li{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #273043;
    margin-left: 50px;
}

a{
    text-decoration: none;
}
a:active{
    color: orange;
}
.txt1{
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
.nav-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav-text button{

    padding: 10px;
    width: 109px;
    left: 1281px;
    /* Space Cadet */

    border: 1px solid #17255A;
    box-sizing: border-box;
    border-radius: 4px;
}
.hamburger{
    width: 50px;
    border: 0;
    display: none;
    font-size: 20px;
    cursor: pointer;
   
}
.hamburger:focus{
    outline: none;
}
input{
    display: none;
}


    
@media(max-width: 767px){

    .main-nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
    }
 
    .logo{
        width: 156px;
        height: 36px;
        padding: 20px;
        margin-left: 0;
    }
    .links{
        display: none;
        width: 100%;
       
    }
    .nav-text{
        display: none;
    }
    .hamburger{
        display: block;
        color: black;
    }
    .show{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
   
    }
    }