.subscribe{
    width: 95%;
    height: 19.125rem;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 10% 90%;
}
.Arrow{
    height: 19.125rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    width: 100%;
    height: 19.125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EAC435;
}
.subs-content{
    width: 100%;
    height: 19.125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #03CEA4;
}
.text{
    width: 100%;
    height:  19.125rem;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.125rem;
    line-height: 2.3125rem;
    margin-top: 0;
    padding-left: 30px;
    letter-spacing: 0.015625rem;
    text-transform: capitalize;
   
    color: #273043;
}

.input{
    width: 100%;
    height:  19.125rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.inputs{
    width: 214px;
    height:  19.125rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
}
.button{
    width: 100%;
    height:  19.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: transparent;
    text-transform: uppercase;
    color: #273043;
}
input{
    border-style: none;
    border-bottom: 1px solid #273043;
    width: 214px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: transparent;
}
::placeholder{
    color: #273043;
}
a{
    color:  #273043;
    text-transform: capitalize;
}
form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height:  19.125rem;
}

